<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">
 	
 	<insert id="insertUser" parameterType="User">
 		insert into idea_user values(#{id},#{username},#{password})
 	</insert>

	<delete id="delectUserById" parameterType="String">
		delete from idea_user where id=#{id}
	</delete>

	<update id="updateUser" parameterType="User">
		update idea_user set username=#{username},password=#{password}
		where id=#{id}
	</update>

	<select id="selectOneUserById" parameterType="String" resultType="User">
		select id,username,password from idea_user where id=#{id}
	</select>


 	<select id="selectAllUser" resultType="User">
 	   select id,username,password from idea_user
 	</select>
</mapper>
